{% extends 'layout.html' %}
{% block title %} Download {% endblock %}
{% block body %}
<div class="cover">
    <h1>Download</h1>
    <h2>osu!fx</h2>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Downloads</h3>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Download osu!fx</strong></h5>
                <p class="list-group-item-text">
                    Get the latest version of osu!fx
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>DLL's</strong></h5>
                <p class="list-group-item-text">
                    Your game wont start? You might be missing the standard dll files that comes with osu.
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Grayscaled skin</strong></h5>
                <p class="list-group-item-text">
                    Get my grayscaled skin for color cycle effect
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock  %}