{% extends 'layout.html' %}
{% block title %} Download {% endblock %}
{% block cover_title %} Download {% endblock %}
{% block cover_text %} osu!fx {% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Downloads</h3>
        </div>
        <div class="list-group">
            <a href="http://download.osufx.com/client/osu!.exe" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Download osu!fx</strong></h5>
                <p class="list-group-item-text">
                    Get the latest version of osu!fx
                </p>
            </a>
            <a href="http://download.osufx.com/client/old.zip" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Download old fallback osu!fx</strong></h5>
                <p class="list-group-item-text">
                    Get the latest version of osu!fx
                </p>
            </a>
            <a href="http://download.osufx.com/dll/defaultDll.zip" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>DLL's</strong></h5>
                <p class="list-group-item-text">
                    Your game wont start? You might be missing the standard dll files that comes with osu.
                </p>
            </a>
            <a href="http://download.osufx.com/skin/osu!fx_17.osk" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Grayscaled skin</strong></h5>
                <p class="list-group-item-text">
                    Get my grayscaled skin for color cycle effect
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock  %}