{% extends 'layout.html' %}
{% block title %} FAQ {% endblock %}
{% block cover_title %} FAQ Page {% endblock %}
{% block cover_text %} Answers to all your questions (Hopefully) {% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">FAQ</h3>
        </div>
        <blockquote>
            <p>What is osu!fx?</p>
            <h5>It is a custom client for the very popular game osu! (http://osu.ppy.sh) </h5>
        </blockquote>
        <blockquote>
            <p>How do I install osu!fx?</p>
            <h5>At the moment you need to unzip the custom files into a working osu! game folder.
            I will add a feature soon to make it easier to install. </h5>
        </blockquote>
        <blockquote>
            <p>How do I go back to normal osu? (Uninstall)</p>
            <h5>Just use osu's installer to reinstall osu!
            If you point the installer to install into your current osu! folder it will install osu! there and you will keep all your settings and maps.
            I will make it possible to install osu!fx in a seperate folder soon. (It is possible but a bit tricky) </h5>
        </blockquote>
        <blockquote>
            <p>Who is "The Team"?</p>
            <h5>Only me... </h5>
        </blockquote>
        <blockquote>
            <p>From a scale from 0 to 10 how much of a fgt are you?</p>
            <h5><span style="color:#f84;">Blue</span></h5>
        </blockquote>
        <blockquote>
            <p>Can you be my senpai?</p>
            <h5>Sorry, this senpai is taken. </h5>
        </blockquote>
        <blockquote>
            <p>How can I contact you in a professional way?</p>
            <h5>You got snapchat?</h5>
        </blockquote>
        <blockquote>
            <p>Team Pyro or Heavy?</p>
            <h5>Team "I am too busy with Overwatch to open TF2 to even vote". </h5>
        </blockquote>
        <blockquote>
            <p>FGT!</p>
            <h5>Not a question... </h5>
        </blockquote>
        <blockquote>
            <p>Why did you start making osu!fx?</p>
            <h5>I was bored and wanted something to do. </h5>
        </blockquote>
        <blockquote>
            <p>What is your story?</p>
            <h5>I was the quickest to the egg. </h5>
        </blockquote>
        <blockquote>
            <p>What is your osu! story?</p>
            <h5>I got restricted on the main server for using a replay editor to fix a replay for a friend. The replay editor is a seperate tool that I used to fix a replay after the beatmap id had changed. For whatever reason that tool is qualified as a hack somehow... In my opinion it shouldn't but after trying to explain myself to the staff, but got ignored as they wont recive any of my messages until a half a year after I got my restriction. At that point I wrote a bible to them trying to explain what had happened but recived back a message denying my appeal.
            Want to read the e-mail I sent and the message I recived?</h5>
        </blockquote>
        <blockquote>
            <p>Can I have a cookie?</p>
            <h5>b193d1073469a12e7efd159ba914885ccfa1a6b9.</h5>
        </blockquote>
        <blockquote>
            <p>What is up with your avatar?</p>
            <h5>Humping the osu! logo ;)</h5>
        </blockquote>
    </div>
</div>
{% endblock  %}