{% extends 'layout.html' %}
{% block title %} FAQ {% endblock %}
{% block cover_title %} FAQ Page {% endblock %}
{% block cover_text %} Answers to all your questions (Hopefully) {% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">FAQ</h3>
        </div>
        <blockquote>
            <p>What is osu!fx?</p>
            <h5>It is a custom client for the very popular game osu! (http://osu.ppy.sh) </h5>
        </blockquote>
        <blockquote>
            <p>How do I install osu!fx?</p>
            <h5>You can download the <a href="/download/">new version</a> and just run it and it will autoinstall all the dependencies,<br>
            or you can download the <a href="/download/">old version</a> and manualy need to download the dependencies (dlls)</h5>
        </blockquote>
        <blockquote>
            <p>How do I go back to normal osu? (Uninstall)</p>
            <h5>Just use osu's installer to reinstall osu!<br>
            If you point the installer to install into your current osu! folder it will install osu! there and you will keep all your settings and maps.<br>
            It is possible to have both osu!fx and normal osu! installed at the same time but require to be in seperate folders.</h5>
        </blockquote>
        <blockquote>
            <p>Who is "The Team"?</p>
            <h5><a href="https://github.com/osufx">(public team)</a></h5>
        </blockquote>
        <blockquote>
            <p>How can I contact you in a professional way?</p>
            <h5>You got snapchat?</h5>
        </blockquote>
        <blockquote>
            <p>Why did you start making osu!fx?</p>
            <h5>I was bored and wanted something to do. I wanted to learn c# in my own way and this is the result.</h5>
        </blockquote>
        <blockquote>
            <p>What is your story?</p>
            <h5>I was the quickest to the egg. </h5>
        </blockquote>
        <blockquote>
            <p>What is your osu! story?</p>
            <h5>I got restricted on the main server for using a replay editor to fix a replay for a friend. The replay editor is a seperate tool that I used to fix a replay after the beatmap id had changed. For whatever reason that tool is qualified as a hack somehow... In my opinion it shouldn't but after trying to explain myself to the staff, but got ignored as they wont recive any of my messages until a half a year after I got my restriction. At that point I wrote a bible to them trying to explain what had happened but recived back a message denying my appeal.
            Want to read the e-mail I sent and the message I recived?</h5>
        </blockquote>
    </div>
</div>
{% endblock  %}