{% extends 'layout.html' %}
{% block title %} Help {% endblock %}
{% block cover_title %} Help {% endblock %}
{% block cover_text %}  {% endblock %}
{% block body %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Help list</h3>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Installation</strong></h5>
                <p class="list-group-item-text">
                    Having problems installing osu!fx?
                </p>
            </a>
            <a href="#" class="list-group-item">
                <h5 class="list-group-item-heading"><strong>Skinning</strong></h5>
                <p class="list-group-item-text">
                    Custom skinning
                </p>
            </a>
        </div>
    </div>
</div>
{% endblock  %}