{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block cover_title %} Welcome to osu!fx {% endblock %}
{% block cover_text %} Enjoy your stay {% endblock %}
{% block body %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">News</h3>
        </div>
        <div class="panel-body">
            <strong>Rewrite client is now public </strong><br>
            The newest client has been made public. <br>
            This version uses more shaders then the last version also meaning this is more targeted towards Desktop's. <br>
            If you have any issues (Not requests), message me on discord: <input type="text" value="Emily | Sunpy#5213">
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Changelogs</h3>
        </div>
        <div class="list-group">
            <h4>No update posted... continue</h4>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">AyyAyye</span> memes \o/</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <h4>September 27, 2016</h4>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Useful links</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="{{ url_for('download') }}" class="list-group-item">
                    <h5 class="list-group-item-heading"><strong>Download</strong></h5>
                    <p class="list-group-item-text">
                        Download list for all your needs
                    </p>
                </a>
                <a href="https://ripple.moe/" class="list-group-item" target="_blank">
                    <h5 class="list-group-item-heading"><strong>Ripple</strong></h5>
                    <p class="list-group-item-text">
                        Register an account to play on their server
                    </p>
                </a>
                <a href="https://hidesu.pw/" class="list-group-item" target="_blank">
                    <h5 class="list-group-item-heading"><strong>Hidesu</strong></h5>
                    <p class="list-group-item-text">
                        Register an account to play on their server
                    </p>
                </a>
                <a href="http://osu.gatari.pw/" class="list-group-item" target="_blank">
                    <h5 class="list-group-item-heading"><strong>osu!Gatari</strong></h5>
                    <p class="list-group-item-text">
                        Register an account to play on their server
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock  %}