{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="cover">
    <h1>Welcome to osu!fx</h1>
    <h2>Enjoy your stay</h2>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
        </div>
        <div class="panel-body">
            <strong>Total rewrite has began</strong><br>
            I have started a full rewrite and reimplementation of the client. <br>
            This means no updates in a while until things are sorted out. <br>
            Source code have been released and is available for anyone who wants it. <br>
            To get access to the source code just send me a message on discord. (I dont bite. (hard)) <br>
            -Sunpy
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">News</h3>
        </div>
        <div class="panel-body">
            <strong>Info regarding making youtube video's with this client</strong><br>
            If you so chose to make youtube videos using this client make sure you link to this website for download. <br>
            Do not try to ignore the question or lying and saying you made this. <br>
            I will not go after anyone if they break this, but please understand that its kind of breaking me when someone is missleading others. <br>
            The last thing I want is someone to reupload a version of my client bundled with malwares or other nasty stuff. <br>
            -Sunpy
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Changelogs</h3>
        </div>
        <div class="list-group">
            <h4>No update posted... continue</h4>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <h4>September 27, 2016</h4>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
            <div class="list-group-item"><span class="label label-success">Added</span> <span class="label label-info">Sunpy</span> New color modes \o/</div>
            <div class="list-group-item"><span class="label label-warning">Fixed</span> <span class="label label-info">Sunpy</span> Beatmap & forum links ingame opens osu.ppy.sh link instead of current server 404 page :P</div>
        </div>
    </div>
</div>
{% endblock  %}