<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>osu!fx - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="osu!fx Team">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">osu!fx</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}"><i class="fa fa-home"
                                                           aria-hidden="true"></i>
                        Home</a></li>
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>
                        <strike>Forum</strike></a></li>
                    <li><a href="{{ url_for('download') }}"><i class="fa fa-download"
                                                               aria-hidden="true"></i>
                        Download</a></li>
                    <li><a href="https://discordapp.com/invite/wHdBkn2"><i class="fa fa-comment" aria-hidden="true"></i>
                        Discord</a></li>
                    <li><a href="#"><i class="fa fa-exclamation" aria-hidden="true"></i>
                        <strike>Rules</strike></a></li>
                    <li><a href="{{ url_for('help') }}"><i class="fa fa-info"
                                                           aria-hidden="true"></i>
                        Help</a></li>
                    <li><a href="{{ url_for('faq') }}"><i class="fa fa-question"
                                                          aria-hidden="true"></i> FAQ</a>
                    </li>
                    <li><a href="{{ url_for('rs') }}"><i class="fa fa-bug"
                                                         aria-hidden="true"></i> Bug
                        report / Suggest</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        {% if logged_in == False %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu login-dp">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post"
                                              action="{{ url_for('login') }}"
                                              accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only">Username </label>
                                                <input type="text" class="form-control"
                                                       name="username"
                                                       placeholder="Username" required>
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only">Password</label>
                                                <input type="password"
                                                       class="form-control"
                                                       name="password"
                                                       placeholder="Password" required>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"
                                                        class="btn btn-info btn-block">
                                                    Sign in
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom text-center">
                                        New here? <a href="{{ url_for('register') }}"><b>Join
                                        osufx!</b></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Welcome
                            {{ logged_in.username }}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu login-dp">
                            <div class="profile">
                                <div class="profile-sidebar">
                                    <div class="profile-userpic">
                                        <img src="{{ url_for('static', filename='avatars/1.png') }}"
                                             class="img-responsive">
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            {{ logged_in.username }}
                                        </div>
                                        <div class="profile-usertitle-job">
                                            Developer
                                        </div>
                                        <div class="profile-links">
                                            <a href="#">Settings</a><br>
                                            <a href="#">Logout</a>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="cover">
    <h1>{% block cover_title %}{% endblock %}</h1>
    <h2>{% block cover_text %}{% endblock %}</h2>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="container">
    <div class="flash-error">
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% for message in messages %}
            {{ message }} <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endwith %}
{% block body %}
{% endblock %}
<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>