{% extends 'layout.html' %}
{% block title %} Register {% endblock %}
{% block cover_title %} Register page {% endblock %}
{% block cover_text %}  {% endblock %}
{% block body %}


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{{ url_for('register') }}"
                  accept-charset="UTF-8">
                <div class=" form-group">
                    <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o"
                                                   aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Username"
                               name="username" required>
                    </div>
                    <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"
                                                   aria-hidden="true"></i></span>
                        <input type="password" class="form-control" placeholder="Password"
                               name="password" required>
                    </div>
                    <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"
                                                   aria-hidden="true"></i></span>
                        <input type="password" class="form-control"
                               placeholder="Repeat password"
                               name="rpassword" required>
                    </div>
                    <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"
                                                   aria-hidden="true"></i></span>
                        <input type="email" class="form-control" placeholder="E-mail"
                               name="email"
                               required>
                    </div>
                    <div class="form-group">
                        <div style="margin-top: 10px; text-align: center;">
                            <center>
                                <div class="g-recaptcha"
                                     data-sitekey="6LeiJTcUAAAAAJZoeMbqcFFZdLTj7m_dEBPwpdnm"></div>
                            </center>
                            <br>
                            <button class="btn btn-info"
                                    type="submit">Register
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}